.navigation {
  background-color: rgb(3, 13, 50);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: sticky;
  top: 0;
  height: 50px;
  z-index: 999;
  width: 100%; /* Assurez-vous que la barre de navigation occupe toute la largeur */
  }
  .font-size-toggle-button {
    background-color: transparent; /* Couleur de fond transparente */
    border: none; /* Supprime les bordures */
    color: #ffffff;
    cursor: pointer; /* Curseur pointeur au survol */
    outline: none; /* Supprime la bordure de focus */
    transition: transform 0.3s ease; /* Animation de transition pour la transformation */
  }
  
  .font-size-toggle-button:hover {
    transform: scale(1.2); /* Zoom de 20% au survol */
  }
  .navbar-links-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Aligner les éléments à droite */
  }
 
  


  .nav-logo-container {
    max-width: 200px;
  }
  
  .navbar-menu-container {
    display: none;
  }
  

    /* this css style used with the NavLink element with class activate */
    .active{
      color: #0088ff;
      /* background-color: red; */
    }

  @media (max-width: 800px) {
    .navbar-links-container {
      display: none;
    }
  
    .navbar-menu-container {
      display: flex;
      align-items: center;
      justify-content: flex-end; /* Aligner le menu hamburger à droite */
      margin-right: 20px;
    }
  }
  
  .navbar-menu-container svg {
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .navbar-links-container a {
    font-weight: 600;
    color: #ffffff;
    margin-right: 20px;
    text-decoration: none;
    position: relative;
  }
  
  .navbar-links-container a.active {
    color: #0088ff;
  }
  
  .navbar-links-container a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #0088ff;
    bottom: -3px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .navbar-links-container a:hover::after,
  .navbar-links-container a.active::after {
    transform: scaleX(1);
  }
 /* Styles pour les champs de saisie de connexion */
 .login-container {
  display: flex;
  margin: 10px;
  align-items: center;
}


.inputhome {
  background-color: #0088ff31;
  margin-right: 10px; /* Ajouter une marge entre les champs */
}

.email-input {
  margin-bottom: 10px; /* Ajouter une marge en bas pour espacer les champs */
}



.large-font {
  font-size: 1.4em; /* Exemple de taille de police agrandie */
  /* Autres styles pour le grand format */
}
